/*Importation des polices de caractères*/
@import url('colors.css');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../photo/football-stadium.webp);
    backdrop-filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-decoration: none;
}

#main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    flex: 1;
    padding-top: 10px;
    color: var(--bleu-fonce);
}


table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--bleu-fonce);
}

thead {
    font-size: x-large;
    background-color: var(--bleu-clair);
}

thead th {
    white-space: nowrap;
    min-width: fit-content;
}

tbody {
    font-size: large;
}

tbody td {
    white-space: nowrap;
}