:root {
  --noir: #000000; /* Utilisé pour le fond du header */
  --blanc: #ffffff; /* Utilisé pour la couleur de la police */
  --gris-tres-clair: #fefefe; /* Utilisé pour le fond de la page */
  --bleu-fonce: #0a1720;  /* Utilisé pour le fond du header */
  --gris-clair: #fdfdfd;  /* Utilisé pour le fond du footer */
  --bleu-nuit: #0b1821; /* Utilisé pour le fond du footer */
  --bleu-moyen: #1d3557;  /* Utilisé pour le bouton */
  --bleu-clair: #457b9d; /* Utilisé pour le survol du bouton */
  --rouge: #e63946; /* Utilisé pour le bouton */
  --rouge-fonce: #a82030; /* Utilisé pour le survol du bouton */
}
