:root {
    --blanc: #ffffff;
    --gris-tres-clair: #fefefe;
    --bleu-fonce: #0a1720;
    --gris-clair: #fdfdfd;
    --bleu-nuit: #0b1821;
    --bleu-moyen: #1d3557;
    --bleu-clair: #457b9d;
    --rouge: #e63946;
    --rouge-fonce: #a82030;
  }