/* Importation de la police */
@import url('colors.css');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--gris-tres-clair);
}

html {
  background-color: var(--bleu-fonce);
  scroll-behavior: smooth;
}

/* ==================== HEADER/NavBar ==================== */
header {
  background-color: var(--bleu-fonce);
  color: var(--blanc);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
}

.logo:hover {
  transform: scale(1.2);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--blanc);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--bleu-clair);
}

.btn a {
  background-color: var(--bleu-moyen);
  padding: 10px 20px;
  border-radius: 5px;
}

.btn a:hover {
  background-color: var(--bleu-clair);
  color: var(--noir);
}
/* =================== Filtres ================== */


.filter-section {
    position: sticky;
    top: 80px; 
    width: 250px; 
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: var(--gris-tres-clair);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.filter-group label {
  margin-top: 10px;
  font-weight: bold;
  color: var(--bleu-fonce);
  display: block;
  font-size: 1.1rem;
}

.filter-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--noir);
  border-radius: 5px;
}

.filter-section .submit {
  width: 100%;
  background-color: var(--bleu-moyen);
  color: var(--blanc);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}


/* ==================== MAIN ==================== */
main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  background-image: url('../photo/arriere-plan.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.double-grid {
  display: grid;
  grid-template-columns: 1fr 4fr; 
  gap: 20px;

}

.stadium-list {
  order: 2;
}

.filter-section {
  
  order: 1;
  max-width: 300px;
  margin: 0 auto; 
}

/* Centrer le formulaire */
.form {
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

/* Conteneur de la barre de recherche */
.search-container {
    display: flex;
    align-items: center;
    border: 3px solid var(--noir);
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}

.search-container .icon {
    background-color: var(--bleu-moyen);
    color: var(--blanc);
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Champ de recherche */
.search {
    color: var(--blanc);
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background: none;
}


.submit {
    width: 80px;
    background-color: var(--bleu-moyen);
    color: var(--blanc);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    background-color: var(--bleu-clair);
}

/* HERO */
.hero {
  grid-column: 2 span;
  text-align: center;
  color: var(--blanc);
  padding: 70px 0px;
}

.hero h1 {
  font-size: 2.5rem;
}

/* STADES */
.stadium-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
  min-height: 10vh;
}

.stadium {

  background-color: var(--gris-clair);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.stadium:hover {
  transform: translateY(-5px);
}

.stadium img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stadium h2 {
  font-size: 1.5rem;
  padding: 10px;
}

.stadium p {
  padding: 0 15px 15px;
}

a {
  text-decoration: none;
  color: var(--bleu-fonce);
}

.explorer-button {
  display: inline-block;
  background-color: var(--rouge);
  padding: 14px 28px;
  border-radius: 5px;
  color: var(--blanc);
  text-decoration: none;
  margin-top: 15px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.explorer-button:hover {
  background-color: var(--rouge-fonce);
  transform: scale(1.05);
}



/* ==================== FOOTER ==================== */
footer {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    padding: 50px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.footer-section {
    flex: 1;
    min-width: 220px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.payment-logos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.payment-logos img {
    width: auto;
    height: 50px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: var(--blanc);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f8d210;
}


.footer-section p {
    font-size: 14px;
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 14px;
    color: #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Pour voir l’effet de déplacement */
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  
  /* Quand on ajoute la classe active, on translate le header vers le haut */
  header.active {
    transform: translateY(-80%);
    padding-bottom: 30%;
}  

  .stadium-list {
    flex-direction: column;
    align-items: center;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .stadium {
    width: 90%;
    margin: 10px 0;
  }


}