@import url('colors.css');



/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background-image: url(../photo/fond-form.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

/* HEADER */
header {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--blanc);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--bleu-clair);
}

.btn a {
    background-color: var(--bleu-moyen);
    padding: 10px 20px;
    border-radius: 5px;
}

.btn a:hover {
    background-color: var(--bleu-clair);
}


/* Conteneur des formulaires */
.form-container {
    background: rgba(173, 216, 230, 0.95); 
    color: var(--bleu-fonce); 
    border-radius: 15px;
    text-align: center;
    width: 400px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 110px;
    margin-bottom: 80px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-container form input,
  .form-container form select {
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 8px;
  }


.form-container.inscription {
    width: 300px; 
}

#form_logo {
    width: 100px; 
    height: auto;
}

/* Titres */
h2 {
    margin: 0;
    font-size: 2em;
    color: var(--bleu-fonce); 
    padding-bottom: 15px;
}

/* Labels */
label {
    display: block;
    text-align: left;
    font-weight: bold;
    padding: 0 22px;
    font-size: 1em;
    color: var(--bleu-moyen); 
}

/* Champs de saisie */
input, select {
    width: 100%;
    padding: 8px;
    margin: 7px 0;
    border: 2px solid var(--bleu-clair); 
    border-radius: 5px;
    font-size: 1em;
    background: #E0F7FA; 
    color: var(--bleu-fonce); 
}

/* Bouton */
input[type="submit"] {
    background: var(--bleu-fonce); 
    color: var(--blanc);
    padding: 10px;
    font-size: 1.3em;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    border: 2px solid var(--bleu-fonce); 
    transition: 0.3s;
}

/* Effet hover sur le bouton */
input[type="submit"]:hover {
    background: var(--bleu-moyen);
    border: 2px solid var(--bleu-fonce);
}

/* Lien */
p {
    margin-top: 12px;
    font-size: 1em;
}

a {
    color: var(--bleu-clair);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
    color: var(--bleu-fonce);
}
